<!DOCTYPE html>
<html>
    <head>
        <title>
            Easwaran Catering Service 
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="Easwaran Catering Service">
        <meta name="description" content="Best catering/wedding services in india">
        <meta name="keywords" content="Catering, Services, Wedding, shaadi, khana, bhojan, tents, pandal, arrangements">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/landing/style.css" />
    </head>
    <body>
        <div class="content_wrapper wd_100">
            <div class="wd_100">
                <div class="body_container">
                    <div class="overlay">
                    </div>
                     <form id="login_form"> 
             			<div class="login_container">
                            <div class="heading_main">
                                EASWARAN CATERING SERVICE
                            </div>
             				<div class="heading">
             					For orders reach us @9899527311 or submit the  information below
             				</div>
             				<div class="form">
                                <input class="custom_input form-control" type="text" placeholder="Name" />
                                <input class="custom_input form-control" type="text" placeholder="Email" />
                                <input class="custom_input form-control" type="text" placeholder="Contact Number" />
             				</div>
             				<input type="submit" class="login_btn" value="Submit">
             			</div>
                     </form>
                </div>
            </div>
        </div>
    </body>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-73781092-1', 'auto');
        ga('send', 'pageview');

    </script>
</html>
